# Using different sources to import financial data

In [1]:
# First let us import the common libraries:

import pandas as pd
import datetime

In [2]:
# Define the time frame for our analysis:

start = datetime.datetime(2018,1,1)
end = datetime.date.today()

# Define the Ticker we will be using: We will be using the Apple stocks data

Ticker = "AAPL"

# Source_1: Yahoo

In [3]:
import pandas_datareader as web

In [4]:
df = web.DataReader(Ticker , data_source='yahoo', start= start, end= end)

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,172.300003,169.259995,170.160004,172.259995,25555900.0,168.339050
2018-01-03,174.550003,171.960007,172.529999,172.229996,29517900.0,168.309738
2018-01-04,173.470001,172.080002,172.539993,173.029999,22434600.0,169.091522
2018-01-05,175.369995,173.050003,173.440002,175.000000,23660000.0,171.016678
2018-01-08,175.610001,173.929993,174.350006,174.350006,20567800.0,170.381485

# Source_2: Quandl

https://www.quandl.com/

To use the quandal to search for an Ticker use the "WIKI/+Ticker":

In [7]:
import quandl

In [8]:
apple = quandl.get("WIKI/"+Ticker, start_date=start, end_date=end)

In [9]:
type(apple)

pandas.core.frame.DataFrame

In [10]:
apple.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-02,170.16,172.30,169.26,172.26,25048048.0,0.0,1.0,170.16,172.30,169.26,172.26,25048048.0
2018-01-03,172.53,174.55,171.96,172.23,28819653.0,0.0,1.0,172.53,174.55,171.96,172.23,28819653.0
2018-01-04,172.54,173.47,172.08,173.03,22211345.0,0.0,1.0,172.54,173.47,172.08,173.03,22211345.0
2018-01-05,173.44,175.37,173.05,175.00,23016177.0,0.0,1.0,173.44,175.37,173.05,175.00,23016177.0
2018-01-08,174.35,175.61,173.93,174.35,20134092.0,0.0,1.0,174.35,175.61,173.93,174.35,20134092.0

In [12]:
# Using quandal to search for PG ticker:
Pg = quandl.get("WIKI/PG", start_date=start, end_date=end)

# Source_3: Alpha Vantage

# Get you own API key from here:
https://www.alphavantage.co/support/#api-key

In [13]:
from alpha_vantage.timeseries import TimeSeries
import time
# Register to get your own API Key, this key won't work:
api_key = 'xxxxxxxxxxxxxxxx'

In [14]:
# Providing all the credentials and defining how the data will be imported:
ts = TimeSeries(key=api_key, output_format='pandas')

# Importing data on the basis of Ticker name, 
# Data can be imported as per our chosen timeintervals, over here data will be collected every minute:
data, meta_data = ts.get_intraday(symbol='AAPL', interval = '1min', outputsize = 'full')

print(data.head())

                     1. open  2. high  3. low  4. close  5. volume
date
2019-07-26 09:31:00  207.570  207.570  207.57    207.57   423077.0
2019-07-26 09:32:00  207.550  207.890  207.51    207.89    90545.0
2019-07-26 09:33:00  207.880  208.022  207.76    208.02   120373.0
2019-07-26 09:34:00  208.038  208.470  208.03    208.41   196585.0
2019-07-26 09:35:00  208.410  208.470  208.22    208.26   116013.0